<ion-view class="main-content">
    <ion-content class="layer">
        <div class="list">
            <a ng-repeat="film in mC.filmData" class="item item-thumbnail-left film">
                <img class="film-image" ng-src="{{film.poster}}" alt="{{film.name}}" title="{{film.name}}">
                <h2>{{film.name}}</h2>
                <p>{{film.season}} ( {{film.series}} Серия) <span class="badge badge-assertive" ng-if="film.status">{{film.status}}</span></p>
            </a>
        </div>

        <label class="item item-input item-floating-label">
            <span class="input-label"> </span>
            <input type="text" placeholder="Paste link for film(from FS.TO) :" ng-model="mC.url">
        </label>
        <button class="button-block button icon-left ion-ios-plus-outline button-positive" ng-click="mC.addFilm()">Add</button>
    </ion-content>
</ion-view>