.item.item-thumbnail-left.film h2,
.item.item-thumbnail-left.film p{
    color:#f7f7f7;
}
.item.item-thumbnail-left.film > .film-image{
    min-height: 120px;
}
.item.item-thumbnail-left.film{
    min-height: 145px;
}
ion-view.main-content{
    background-image: url('../img/bg2.jpg');
    background-size: 100%;
}
ion-content.layer{
    background-color: rgba(0,0,0,0.6);
}
ion-content.layer .list a{
    background: inherit;
}
