.item.item-thumbnail-left.film h2,
.item.item-thumbnail-left.film p{
    color:#f7f7f7;
}
.item.item-thumbnail-left.film > .film-image{
    min-height: 120px;
}
.item.item-thumbnail-left.film{
    min-height: 145px;
}
ion-view.main-content{
    background-image: url('../img/bg2.jpg');
    background-size: 100%;
}
ion-content.layer{
    background-color: rgba(0,0,0,0.6);
}
ion-content.layer .list a{
    background: inherit;
}
.popup-container .popup{
    background: none;
}
.popup-head{
    border: none;
}
.popup-title {
    font-size: 30px;
    color: blanchedalmond;
}
.popup-sub-title{
    font-size: 17px;
    color: powderblue;
}
.popup-container .popup-body{
    border-bottom: none;
    text-align: center;
}
.user-email .popup-body{
    padding: 0;
    border-bottom: 2px solid blanchedalmond;
}
.popup-container .popup-body > span{
    font-size: 20px;
    color: powderblue;
}
.popup-body input{
    background-color: rgba(255,255,255,0);
    color: powderblue;
    font-size: 24px;
}
.popup-buttons{
    padding: 10px 0;
    min-height: 75px;
}
.popup-buttons .button.button-positive{
    background-color: rgba(0,0,0,0);
    border: 2px solid blanchedalmond;
    color: blanchedalmond;
}